<a href="https://colab.research.google.com/github/erSASD/machine_learning/blob/main/01_pamdas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Pandas
>Strona biblioteki: [https://pandas.pydata.org/](https://pandas.pydata.org/)  
>Dokumentacja: [https://pandas.pydata.org/pandas-docs/stable/](https://pandas.pydata.org/pandas-docs/stable/)
>
>Podstawowa biblioteka do analizy danych w języku Python.
>
>Aby zainstalować bibliotekę Pandas użyj polecenia poniżej:
```
pip install pandas
```
### Spis treści:
1. [Podstawowe struktury danych: pd.Series](#a1)
2. [Podstawowe struktury danych: pd.DataFrame](#a2)
3. [Selekcja kolumn](#a3)

In [2]:
import pandas as pd
pd.__version__

'1.1.5'

### <a name='a1'></a>  Podstawowe struktury danych: pd.Series

In [3]:
s = pd.Series(data=[3,2,4,6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [5]:
s = pd.Series(data=[3,2,4,6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [7]:
import numpy as np

s = pd.Series(data=[3,np.nan,4,6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [8]:
s = pd.Series([True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [16]:
s = pd.Series(data=np.arange(10, 20), index=pd.date_range(start='20200101', periods=10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [18]:
list(s.index)

[Timestamp('2020-01-01 00:00:00', freq='D'),
 Timestamp('2020-01-02 00:00:00', freq='D'),
 Timestamp('2020-01-03 00:00:00', freq='D'),
 Timestamp('2020-01-04 00:00:00', freq='D'),
 Timestamp('2020-01-05 00:00:00', freq='D'),
 Timestamp('2020-01-06 00:00:00', freq='D'),
 Timestamp('2020-01-07 00:00:00', freq='D'),
 Timestamp('2020-01-08 00:00:00', freq='D'),
 Timestamp('2020-01-09 00:00:00', freq='D'),
 Timestamp('2020-01-10 00:00:00', freq='D')]

In [20]:
s = pd.Series(['python', 'sql', 'java'], name='language')
s

0    python
1       sql
2      java
Name: language, dtype: object

In [13]:
type(s)

pandas.core.series.Series

In [14]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [21]:
s.values

array(['python', 'sql', 'java'], dtype=object)

In [24]:
s.dtypes

dtype('O')

In [25]:
s.shape

(3,)

In [64]:
price = pd.Series(data={'Apple':200, 'CD Project': 60, 'Amazon': 1900, 'KGHM': np.nan})
price

Apple          200.0
CD Project      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [27]:
price['CD Project']

60

In [28]:
price[1]

60

In [38]:
price.count()

3

In [44]:
price.value_counts(dropna=False)

NaN       1
1900.0    1
60.0      1
200.0     1
dtype: int64

In [32]:
price.sum()

2160

In [33]:
price.min()

60

In [34]:
price.max()

1900

In [35]:
price.std()

1024.3046421841502

In [36]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [40]:
price.describe().T

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [48]:
price.nlargest(2)

Amazon    1900.0
Apple      200.0
dtype: float64

In [52]:
price.nsmallest(2)

CD Project     60.0
Apple         200.0
dtype: float64

In [53]:
price.rank()

Apple         2.0
CD Project    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [56]:
price.sort_values(ascending=False)

Amazon        1900.0
Apple          200.0
CD Project      60.0
KGHM             NaN
dtype: float64

In [62]:
price_pln = price.apply(lambda x: x *3.8)

In [63]:
price_pln

Apple          2888.0
CD Project      866.4
Amazon        27436.0
KGHM              NaN
dtype: float64

### <a name='a2'></a>  Podstawowe struktury danych: pd.DataFrame

In [65]:
df = pd.DataFrame(data=[12,12,32])
df

    0
0  12
1  12
2  32

In [66]:
df = pd.DataFrame(data=[12,12,32], index=['first', 'second', 'third'], columns=['col_1'])
df

        col_1
first      12
second     12
third      32

In [69]:
df = pd.DataFrame(data={'WIG20': ['PKN ORLEN', 'PKO BP'], 'mWIG40':['AMICA', 'PLAYWAY']})
df

       WIG20   mWIG40
0  PKN ORLEN    AMICA
1     PKO BP  PLAYWAY

In [81]:
df = pd.DataFrame(data=[[10, 12, 13], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [78]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [79]:
df.index

Index(['first', 'second'], dtype='object')

In [72]:
df.values

array([['PKN ORLEN', 'AMICA'],
       ['PKO BP', 'PLAYWAY']], dtype=object)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   WIG20   2 non-null      object
 1   mWIG40  2 non-null      object
dtypes: object(2)
memory usage: 160.0+ bytes

In [80]:
df.describe()

           col_1  col_2     col_3
count   2.000000    2.0   2.00000
mean   16.500000   12.0  11.50000
std     9.192388    0.0   2.12132
min    10.000000   12.0  10.00000
25%    13.250000   12.0  10.75000
50%    16.500000   12.0  11.50000
75%    19.750000   12.0  12.25000
max    23.000000   12.0  13.00000

In [82]:
df.describe().T

       count  mean       std   min    25%   50%    75%   max
col_1    2.0  16.5  9.192388  10.0  13.25  16.5  19.75  23.0
col_2    2.0  12.0  0.000000  12.0  12.00  12.0  12.00  12.0
col_3    2.0  11.5  2.121320  10.0  10.75  11.5  12.25  13.0

### <a name='a3'></a>  Selekcja komlumn

In [85]:
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [87]:
df[['col_1']]

        col_1
first      10
second     23

In [88]:
type(df[['col_1']])

pandas.core.frame.DataFrame

In [89]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [91]:
df.columns = ['a', 'b', 'c']
df

         a   b   c
first   10  12  13
second  23  12  10

In [92]:
df.a

first     10
second    23
Name: a, dtype: int64

In [95]:
df['d'] = df.a + df.b
df

         a   b   c   d
first   10  12  13  22
second  23  12  10  35

In [96]:
df = pd.DataFrame(data=[[10, 12, 13], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [97]:
df.loc['first']

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [98]:
df.loc['second']

col_1    23
col_2    12
col_3    10
Name: second, dtype: int64

In [100]:
df.loc['first', 'col_2']

12

In [101]:
df.loc[:, 'col_2']

first     12
second    12
Name: col_2, dtype: int64

In [99]:
df.iloc[0]

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [102]:
df.iloc[0, 1]

12